{% extends 'base.html' %}
{% block title %}天気予報{% endblock %}
{% block content %}
  <h1>{{ weather.channel.area.name }}*:;;;:*{{ weather.date_display }}({{ weather.weekday_display }})の天気予報</h1>
  <h2>{{ weather.channel.get_name_display }}</h2>
  <table>
    <thead>
      <tr>
        <th>時間</th>
        <th>天気</th>
        <th>気温（℃）</th>
        <th>降水量（mm/h）</th>
        <th>風向</th>
        <th>風速（m/s）</th>
      </tr>
    </thead>
    <tbody>
      {% for hourly_weather in daily_weather %}
        <tr>
          <td>{{ hourly_weather.time }}</td>
          <td>{{ hourly_weather.weather }}</td>
          <td align=center>{{ hourly_weather.temperatures }}</td>
          <td align=center>{{ hourly_weather.precipitation }}</td>
          <td align=center>{{ hourly_weather.wind_direction }}</td>
          <td align=center>{{ hourly_weather.wind_speed }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">天気予報ないよ</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <p>
    <a href="{% url 'weather:weekly' area_id=weather.channel.area.id %}" class="button">
      {{ weather.channel.area.name }}の週間天気に戻る
    </a>
  </p>
{% endblock %}
