{% extends 'base.html' %}
{% block title %}週間天気{% endblock %}
{% block content %}
  <h1>{{ area.name }}の週間天気予報</h1>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <p class="messages">
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
          &nbsp;&nbsp;&nbsp;
          <a href="{% url 'channel:register' %}" class="button">チャンネルを新規登録</a>
        <p>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% for channel_name, weekly_weather_per_channel in all_weekly_weather.items %}
    <h2>{{ channel_name }}</h2>
    <table>
      <thead>
        <tr>
          <th>日付&nbsp;&nbsp;</th>
          <th>天気&nbsp;&nbsp;</th>
          <th>最高気温（℃）</th>
          <th>最低気温（℃）</th>
          <th>降水確率（％）</th>
          <th>数えた</th>
        </tr>
      </thead>
      <tbody>
        {% for weather in weekly_weather_per_channel %}
          <tr>
            <td>
              {% if weather.daily_weather_count == 0 %}
                {{ weather.date_display }}&nbsp;({{ weather.weekday_display }})
              {% else %}
                <a href="{% url 'weather:daily' weather_id=weather.id %}">
                  {{ weather.date_display }}&nbsp;({{ weather.weekday_display }})
                </a>
              {% endif %}
            </td>
            <td>{{ weather.weather }}</td>
            <td align=center>{{ weather.highest_temperatures }}</td>
            <td align=center>{{ weather.lowest_temperatures }}</td>
            <td align=center>{{ weather.chance_of_rain_display }}</td>
            <td align=center>{{ weather.daily_weather_count }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">天気予報ないよ</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  {% endfor %}
{% endblock %}
